<section class="about-me section" id="about-me">
  <div class="container about-me-cont">
    <h2 class="visually-hidden">About me</h2>
    <div class="container-about-me">
      <div class="container-about-txt">
        <p class="about-txt">
          I work with people all over the world to create impressive and
          <span class="about-span-red">functional</span>
          <span class="about-span-grey">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <div class="container-about-img">
        <picture class="about-me-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-me/about-me.jpg    1x,
              ./img/about-me/about-me@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-me/about-me-tablet.jpg    1x,
              ./img/about-me/about-me-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about-me/about-me-mobile.jpg    1x,
              ./img/about-me/about-me-mobile@2x.jpg 2x
            "
          />
          <img
            class="about-me-img"
            src="./img/about-me/about-me@2x.jpg"
            alt="Developer Lloyd Jefferson"
          />
        </picture>
      </div>
    </div>
    <div class="container-about-description">
      <ul class="about-description js-about-descriprion">
        <li class="list-about-description acord-about-el">
          <div class="container-about-txt-vs-arrow acord-about-tr">
            <h3 class="about-title-description">About me</h3>
            <buton type="button" class="about-svg-container" tabindex="0">
              <svg class="about-arrow">
                <use href="./img/sprite.svg#icon-vector-9"></use>
              </svg>
            </buton>
          </div>
          <div class="js-about-accordeon about-accordeon">
            <ul class="about-ul-text">
              <li class="about-txt-description txt-marg-about">
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </li>
              <li class="about-txt-description">
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work. I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </li>
            </ul>
          </div>
        </li>
        <li class="list-about-description acord-about-el">
          <div class="container-about-txt-vs-arrow acord-about-tr">
            <h3 class="about-title-description">Role</h3>
            <buton type="button" class="about-svg-container" tabindex="0">
              <svg class="about-arrow">
                <use href="./img/sprite.svg#icon-vector-9"></use>
              </svg>
            </buton>
          </div>
          <div class="js-about-accordeon about-accordeon">
            <ul class="about-ul-text">
              <li class="about-txt-description txt-marg-role">
                Frontend development
              </li>
              <li class="about-txt-description txt-marg-role">
                HeadlessCMS,Wordpress
              </li>
              <li class="about-txt-description">Blender(enjoy)</li>
            </ul>
          </div>
        </li>
        <li class="list-about-description acord-about-el">
          <div class="container-about-txt-vs-arrow acord-about-tr">
            <h3 class="about-title-description">Education</h3>
            <buton type="buton" class="about-svg-container" tabindex="0">
              <svg class="about-arrow">
                <use href="./img/sprite.svg#icon-vector-9"></use>
              </svg>
            </buton>
          </div>
          <div class="js-about-accordeon about-accordeon ac-panel">
            <ul class="about-ul-text ac-text">
              <li class="about-txt-description txt-marg-role">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </li>
              <li class="about-txt-description txt-marg-role">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </li>
              <li class="about-txt-description">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="container-about-skills">
      <div class="js-about-swiper">
        <ul class="about-list-scrolls swiper-wrapper">
          <li class="about-scroll swiper-slide">HTML/CSS</li>
          <li class="about-scroll swiper-slide">JavaScript</li>
          <li class="about-scroll swiper-slide">React</li>
          <li class="about-scroll swiper-slide">Node. js</li>
          <li class="about-scroll swiper-slide">React Native</li>
          <li class="about-scroll swiper-slide">Soft skills</li>
          <li class="about-scroll swiper-slide">Teamwork</li>
          <li class="about-scroll swiper-slide">Communication</li>
          <li class="about-scroll swiper-slide">Problem-solving</li>
        </ul>
        <button
          type="submit"
          class="about-btn-swiper js-swiper-btn"
          tabindex="0"
        >
          <svg class="about-svg-scroll swiper-scrollbar">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
