<section class="projects section">
  <div class="projects-cont container">
    <h2 class="project-title">Projects</h2>
    <div class="swiper">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-cards swiper-slide">
          <div class="project-top-card">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <h3 class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="" class="project-button">See projects</a>
          </div>

          <div class="project-bottom-card">
            <img
              srcset="
                ../img/projects/project-1.jpg,
                ../img/projects/project-1@2.jpg
              "
              alt="Expland your mind"
              class="project-app-card"
            />
          </div>
        </li>
        <li class="projects-cards swiper-slide">
          <div class="project-top-card">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <h3 class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="" class="project-button">See projects</a>
          </div>

          <div class="project-bottom-card">
            <img
              srcset="
                ../img/projects/projects-mobile-1_1x.jpg,
                ../img/projects/projects-mobile-1_2x.jpg
              "
              alt="Expland your mind"
              class="project-app-card"
            />
          </div>
        </li>
        <li class="projects-cards swiper-slide">
          <div class="project-top-card">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <h3 class="projects-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a href="" class="project-button">See projects</a>
          </div>

          <div class="project-bottom-card">
            <img
              srcset="
                ../img/projects/projects-mobile-1_1x.jpg,
                ../img/projects/projects-mobile-1_2x.jpg
              "
              alt="Expland your mind"
              class="project-app-card"
            />
          </div>
        </li>
      </ul>
    </div>
    <div class="project-swiper-buttons">
      <button class="swiper-button-prev project-button-prev">
        <svg width="25" height="24" class="project-icon">
          <use href="../img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next project-button-next">
        <svg width="25" height="24" class="project-icon">
          <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
