<section class="reviews section">
  <div class="reviews-cont container">
    <h2 class="section-reviews-name">reviews</h2>
    <div class="swiper swiper-field">
      <ul class="swiper-wrapper review-list"></ul>

      <!-- Кнопки навігації -->
      <div class="button-field">
        <button class="swiper-reviews-prev" type="button">
          <svg class="svg-icon">
            <use href="/img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-reviews-next" type="button">
          <svg class="svg-icon">
            <use href="/img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
