<section class="reviews section">
  <div class="reviews-cont container">
    <h2 class="section-reviews-name">reviews</h2>
    <div class="swiper-rev">
      <ul class="swiper-wrapper-rev"></ul>

      <!-- Кнопки навігації -->
      <div class="rev-button-field">
        <button class="reviews-button-prev" type="button">
          <svg class="svg-icon">
            <use href="/img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="reviews-button-next" type="button">
          <svg class="svg-icon">
            <use href="/img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
