/* Accardeon */

.js-about-accordeon {
    overflow: hidden;
}

.acord-about-el.is-active .about-arrow {
    transform: rotate(-180deg);
}

.container-about-txt-vs-arrow {
    padding-top: 20px;
    padding-bottom: 32px;
    display: flex;
    cursor: pointer;
}

.is-active .container-about-txt-vs-arrow {
    padding-bottom: 12px;
}

.is-active {
    padding-bottom: 20px;
}

/* Style about-me */

.container-about-txt {
    border-radius: 24px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 272px;
    background: #242527;
    margin-bottom: 16px;
}

.about-txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.about-span-red {
    color: #ed3b44;
}

.about-span-grey {
    opacity: 0.4;
}

.about-me-img {
    border-radius: 24px;
    background-color: #3b3b3b;
    ;
}

.container-about-description {
    margin-bottom: 32px;
}

.list-about-description {
    position: relative;
}

.list-about-description::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(250, 250, 250, 0.2);
}

.about-title-description {
    margin-right: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.about-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    width: 36px;
    height: 36px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-arrow {
    width: 12px;
    height: 7px;
    fill: none;
    stroke: #fafafa;
    transition: stroke box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-txt-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.txt-marg-about {
    margin-bottom: 32px;
}

.txt-marg-role {
    margin-bottom: 10px;
}

/* Swiper */

.container-about-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.js-about-swiper {
    overflow: hidden;
}

.about-list-scrolls {
    width: 260px;
}

.about-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    font-family: Inter Tight, serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.about-list-scrolls li.swiper-slide-active {
    background-color: #ed3b44;
    border: none;
    transition: background-color 2s ease, border 2s ease;
}

.about-btn-swiper {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 28px;
    height: 28px;
    transform: translateY(-50%);
}

.about-svg-scroll {
    width: 28px;
    height: 28px;
    fill: none;
    stroke: #3b3b3b;
    transition: stroke filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {

    .container-about-me {
        margin-bottom: 32px;
    }

    .container-about-txt {
        padding-top: 64px;
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 436px;
    }

    .about-txt {
        font-size: 38px;
        line-height: 1.05263;
    }

    .container-about-txt-vs-arrow {
        padding-top: 32px;
    }

    .is-active .container-about-txt-vs-arrow {
        padding-bottom: 8px;
    }

    .is-active {
        padding-bottom: 32px;
    }

    .container-about-description {
        margin-bottom: 32px;
    }

    .about-svg-container {
        width: 40px;
        height: 40px;
    }

    .txt-marg-about {
        margin-bottom: 16px;
    }

    .about-list-scrolls {
        width: 600px;
    }

    .about-scroll {
        width: 200px;
        height: 200px;
    }

    .about-btn-swiper {
        width: 40px;
        height: 40px;
    }

    .about-svg-scroll {
        width: 40px;
        height: 40px;
    }

}

@media screen and (min-width: 1440px) {

    .container-about-me {
        display: flex;
        margin-bottom: 64px;
    }

    .container-about-txt {
        width: 680px;
        height: 700px;
        margin-right: 16px;
        margin-bottom: 0;
    }

    .about-accordeon {
        padding-right: 68px;
    }

    .about-txt-description {
        width: 612px;
        margin-left: auto;
    }

    .txt-marg-about {
        margin-bottom: 32px;
    }

    .container-about-description {
        margin-bottom: 96px;
    }

    .js-about-swiper {
        margin-left: 32px;
    }

    .about-list-scrolls {
        width: 1200px;
    }

    .about-btn-swiper {
        width: 40px;
        height: 40px;
    }

    .about-svg-scroll {
        width: 40px;
        height: 40px;
    }


}

/* Hover and focus */

.container-about-txt-vs-arrow:hover .about-svg-container,
.container-about-txt-vs-arrow:focus .about-svg-container {
    box-shadow: 0 0 10px 2px #ed3b44;
}

.container-about-txt-vs-arrow:focus .about-arrow {
    stroke: #3b3b3b;
    box-shadow: 0 0 10px 2px #ed3b44;
}

.about-btn-swiper:hover .about-svg-scroll {
    stroke: #fafafa;
    filter: drop-shadow(0 0 10px #ed3b44);
}