

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.faq {
  margin-bottom: 32px;
}

.faq-item {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.is-open {
  padding-bottom: 20px;
}

.js-faq-tr {
  display: flex;
  cursor: pointer;
  padding: 20px 0;
}

.is-open .js-faq-tr {
  padding-bottom: 16px;
}

.js-faq-tr:hover .faq-btn,
.js-faq-tr:focus .faq-btn {
  box-shadow: 0 0 10px 2px #ed3b44;
}

.faq-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  max-width: 289px;
  margin-right: auto;
}

@media screen and (max-width: 374px) {

  .faq-item-title {
    max-width: 254px;
  }
}

.faq-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 34px;
  height: 34px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon {
  width: 12px;
  height: 7px;
  fill: none;
  stroke: #fafafa;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open .btn-icon {
  transform: rotate(180deg);
}

.faq-content {
  overflow: hidden;
}

.faq-text-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {

  .is-open {
    padding-bottom: 24px;
  }

  .js-faq-tr {
    padding: 32px 0;
  }

  .is-open .js-faq-tr {
    padding-bottom: 18px;
  }

  .faq-item-title {
    max-width: 574px;
  }

  .faq-btn {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {

  .faq {
    display: flex;
    flex-wrap: wrap;
  }

  .faq-item {
    width: 688px;
    border: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-item:nth-child(odd) {
    padding-right: 32px;
    border-left: none;
    
  }

  .faq-item:nth-child(even) {
    padding-left: 32px;
    border-right: none;
  
  }

}
