.hero-section {
  background-image: url(../img/hero/hero-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 281px;
  padding-bottom: 32px;
  margin-bottom: 64px;
}
.hero-container {
  padding: 0 16px;
}
/* ------------------------------------ */
@media only screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../img/hero/hero-bg_mob@2x.jpg);
    background-size: cover;
  }
}
.hero-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  max-width: 343px;
  margin-bottom: 212px;
}
.hero-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding-right: 16px;
  gap: 4px;
}
.hero-item {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.hero-link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover,
.hero-link:focus {
  border: 1px solid #fafafa;
}
@media only screen and (max-width: 374px) {
  .hero-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }
}
.hero-email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 178px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-email:hover,
.hero-email:focus {
  border: 1px solid #fafafa;
}
/* ------------tablet--------- */
@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: url(../img/hero/hero-bg_tab@1x.jpg);
    padding-top: 300px;
  }
  .hero-section {
    background-size: cover;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: url(../img/hero/hero-bg_tab@2x.jpg);
      background-size: cover;
    }
  }
  .hero-title {
    max-width: 632px;
    font-size: 90px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #fafafa;
  }
  .hero-section {
    background-size: cover;
  }
  .hero-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    gap: 8px;
  }
  .hero-link {
    font-size: 16px;
    width: 53px;
    height: 55px;
  }
  .hero-email {
    font-size: 16px;
    width: 223px;
    height: 55px;
  }
}
/* ------------desktop--------- */
@media only screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(../img/hero/hero-bg_desk@1x.jpg);
    background-size: cover;
    padding-top: 300px 178px 243px;
    margin-bottom: 96px;
  }
  .hero-title {
    margin-bottom: 243px;
    max-width: 1084px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: url(../img/hero/hero-bg_desk@2x.jpg);
      background-size: cover;
    }
  }
}
