.svg-icon {
  stroke: currentColor;
  width: 24px;
  height: 24px;
}

.swiper-wrapper-rev {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-reviews-name {
  text-transform: uppercase;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.swiper-slide-rev {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 343px;
  min-height: 352px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-slide-rev:hover,
.swiper-slide-rev:focus {
  border-color: rgba(250, 250, 250, 0.5);
}

.avatar {
  margin-bottom: 32px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

.name-autor {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.review-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.rev-button-field {
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
  display: flex;
}

.reviews-button-next,
.reviews-button-prev {
  background-color: inherit;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  color: white;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button-next:hover,
.reviews-button-prev:hover {
  box-shadow: inset 0 0 10px 2px #ed3b44;
}

.reviews-button-next.disabled,
.reviews-button-prev.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button-next:disabled,
.reviews-button-prev:disabled {
  pointer-events: none;
}

.not-found {
  text-align: center;
}
.swiper-rev {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {

  .svg-icon {
    width: 32px;
    height: 32px;
  }

  .reviews-button-next,
  .reviews-button-prev {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
  .rev-button-field {
    gap: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper-slide-rev {
    max-width: 332px;
  }
}
