.footer {
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1c1d20;
  background-image: url(../img/work-together/glass_effect_mobile_x1.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 85px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .footer-container {
    background-image: url(../img/work-together/glass_effect_mobile_x2.png);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-head-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  margin-bottom: 63px;
}

.logo-pic {
  width: 44px;
  height: 44px;
  gap: 4px;
  background-color: #1c1d20;
}

.footer-text {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-text-together {
  position: absolute;
  top: 48px;
  left: 0;
}

.footer-inline-text {
  white-space: nowrap;
}

.footer-span-text {
  color: #ed3b44;
}

.footer-form-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-inputs.succes {
  gap: 38px;
}

.form-inputs.error {
  gap: 38px;
}

.footer-input {
  height: 44px;
  position: relative;
  color: #fafafa99;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fafafa33;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-input.success {
  border-color: #3cbc81;
}

.footer-input.error {
  border-color: #e74a3b;
}

.footer-input:hover {
  border: none;
  outline: none;
  color: rgba(250, 250, 250, 1);
  border-bottom: 1px solid rgba(250, 250, 250, 1);
}

.footer-input:focus {
  border: none;
  outline: none;
  color: rgba(250, 250, 250, 1);
  border-bottom: 1px solid rgba(250, 250, 250, 1);
}

.footer-input::placeholder {
  color: rgba(250, 250, 250, 0.6);
}

.validation-text {
  display: none;
  font-weight: 500;
  font-size: 14px;

  line-height: 1.28571;
  letter-spacing: -0.02em;

  position: absolute;
  transform: translateY(48px);
}

.validation-text.success {
  display: inline;
  color: #3cbc81;
}

.validation-text.error {
  display: inline;
  color: #e74a3b;
}

.footer-send-btn {
  border-radius: 50%;
  background-color: #ed3b44;
  letter-spacing: -0.02em;
  color: #fafafa;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send-btn:hover {
  border: none;
  outline: none;
  background-color: rgba(224, 55, 63, 1);
}

.togetger-button:focus {
  border: none;
  outline: none;
  background-color: rgba(224, 55, 63, 1);
}

.footer-link {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.link-for-footer {
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid #fafafa33;
  border-radius: 30px;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-for-footer:hover {
  border: 1px solid rgba(250, 250, 250, 1);
}

.link-for-footer:focus {
  border: 1px solid rgba(250, 250, 250, 1);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 16, 0.6);
  z-index: 999;
}

.modal {
  display: none;
  position: fixed;
  bottom: 138px;
  left: 50%;
  transform: translateX(-50%);
  background: #1c1d20;
  border: 1px solid rgba(250, 250, 250, 0.1);
  padding: 64px 32px;
  border-radius: 20px;
  width: calc(100% - 32px);
  max-width: 343px;
  height: 276px;
  z-index: 1000;
}

.modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-btn-icon {
  stroke: #fbfbfb;
  fill: #fbfbfb;
}

.modal-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-title {
  min-width: 279px;
  height: 64px;
  color: #fafafa;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.modal-text {
  min-width: 279px;
  height: 64px;
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 1px) and (max-width: 328px) {
  .link-for-footer-email {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    margin: 0 auto;
  }

  .footer-container {
    background-image: url(../img/work-together/elements_tablet_x1.png);
    background-size: 198px;
    padding-top: 88px;
    padding-bottom: 169px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer-container {
      background-image: url(../img/work-together/elements_tablet_x2.png);
    }
  }

  .footer-container {
    padding-top: 88px;
    padding-bottom: 169px;
  }

  .footer-head-container {
    margin-bottom: 64px;
    gap: 20px;
  }

  .logo-pic {
    width: 70px;
    height: 70px;
    gap: 20px;
  }

  .footer-text {
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
  }

  .footer-text-together {
    top: 77px;
    left: 0;
  }

  .footer-inline-text {
    width: 442px;
    height: 64px;
  }

  .footer-form-contact {
    justify-content: space-between;
    align-items: center;
  }

  .footer-form-contact {
    flex-direction: row;
    margin-bottom: 18px;
  }

  .footer-form-contact {
    flex-direction: row;
  }

  .form-inputs {
    flex-direction: row;
    gap: 32px;
  }

  .footer-input {
    width: 245px;
  }

  .footer-send-btn {
    width: 150px;
    height: 150px;
  }

  .footer-link {
    gap: 8px;
  }

  .link-for-footer {
    padding: 18px 32px;
  }

  .modal {
    width: calc(100% - 32px);
    max-width: 492px;
    height: 246px;
    padding: 64px;
    bottom: 138px;
  }

  .modal-btn {
    width: 24px;
    height: 24px;
  }

  .modal-title {
    width: 364px;
    height: 30px;
  }

  .modal-text {
    min-width: 364px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    max-width: 1440px;

    background-image: url(../img/work-together/glass_effect_desktop_x1.png);
    background-position: 1040px top;
    background-size: 768px;
    background-repeat: no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/work-together/glass_effect_desktop_x2.png);
    }
  }

  .footer-container {
    padding: 88px 0 169px;
    width: 1048px;
    background: none;
  }

  .footer-form-contact {
    flex-direction: row;
    justify-content: flex-start;
    gap: 86px;
  }

  .form-inputs {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .footer-input {
    width: 390px;
  }
}
